* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 80%;
  height: 900px;
  margin: auto;
  background-color: #fde9eb;
  position: relative;
}
.videoblock {
  width: 100%;
  height: 100px;
}
.video {
  width: 20%;
  height: 100%;
  background-size: cover;
  border: 4px solid black;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  opacity: 0.8;
}
  .v1 {
    background-image: url(img/video-preview1.jpg);
  }
  .v2 {
    background-image: url(img/video-preview2.jpg);
  }
  .v3 {
    background-image: url(img/video-preview3.jpg);
  }
  .v4 {
    background-image: url(img/video-preview4.jpg);
  }
  .v5 {
    background-image: url(img/video-preview5.jpg);
  }
  .description {
    position: absolute;
    bottom: 2px;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    color: white;
  }
  .video img {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 25px;
    border: 2px solid white;
    padding: 3px 5px;
  }

.content {
  width: 100%;
  height: 800px;
}
.column {
  float: left;
  height: 95%;
  font-family: arial;
  margin:5px;
}
.left {
width: 15%;
border-top: 3px solid black;
border-right: 1px solid grey;
font-size: 13px;
position: relative;
}
.central {
width: 50%;
}
.right {
width: 30%;
}
.fa-youtube, .fa-envelope {
  color: orange;
}
.fa + span {
  font-family: arial narrow;
  font-size: 15px;
}
ul {
  border-top: 1px solid grey;
  list-style: none;
}
li span {
  border: 1px solid white;
  background-color: red;
  color: white;
  position: absolute;
  right: 5px;
}
.article h5 {
  color: orange;
}
.article img {
  width:100%;
}
.orangetit {
  color: orange;
  font-size: 12px;
}
.orangetit span {
  color: grey;
}
.halfart {
  width:45%;
  float:left;
  margin-right: 5px;
}
.halfart img {
  height:120px;
}
.right-banner img {
  width: 100%;
  border: 20px solid pink;
  margin-top: 20px;
}
.mainarticle {
  width: 91%;
  height: 300px;
  background-image: url('img/main-image.jpg');
  background-size: cover;
  color: white;
  position: relative;
  margin-bottom: 10px;
}
.colofilter {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.textcontainer {
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
}
.textcontainer h1 {
  font-size: 24px;
}
.textcontainer p2 {
  font-size: 10px;
}
.textcontainer p3 {
  background-color: orange;
  font-size: 10px;
  padding: 2px;
}
footer {
  position: absolute;
  bottom: 10px;
  left: 20%;
  width:70%;
}
footer img {
  width: 100%;
}
